* {
    margin: 0;
    padding: 0;
}

#red {
    width: 30px;
    height: 30px;
    background-color: red;
    margin-bottom: 10px;
    border: 1px solid black;
}

#green {
    width: 30px;
    height: 30px;
    background-color: green;
}

#blue {
    width: 30px;
    height: 30px;
    background-color: blue;
    margin: 10px 20px;
}

p {
    border: 5px solid black;
    /*text-align: center;*/
    padding: 30px 20px;
}